*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
main {
  text-align: center;
  vertical-align: center;
  /* line-height: 100vh; */
}
.Nav {
  color: white;
  margin: 0, auto;
  display: flex;
  background-color: black;
  font-size: big;
  padding: 8px;
}
.portfolios {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}
.repo {
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 300px;
  margin: 20px;
}
.paginationBtns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}
.paginationBtns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #2b2eff;
  color: #2b2eff;
  cursor: pointer;
}
.paginationBtns a:hover {
  color: white;
  background-color: #2b2eff;
}
.paginationActive a {
  color: white;
  background-color: #2b2eff;
}
